name: Publish Hex Package

on:
  push:
    tags:
    - 'v**'

jobs:

  publish-hex:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.14'
          otp-version: '25'

      - run: mix deps.get

      - run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{secrets.HEX_PUBLISH_KEY}}
